 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
    padding-bottom: 50px;
}

h1, h2, h3 {
    letter-spacing: 0.5px;
}

header {
    background: linear-gradient(135deg, #ff88a9, #ffb6d5);
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
}

.tagline {
    font-size: 1.2rem;
    margin-top: 5px;
}


.navbar {
    margin-top: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color:white;
    font-size: 1.1rem;
    padding: 5px 12px;
    border-radius: 12px;
    transition: 0.3s;
}

.navbar a:hover {
    background:white;
}
.seccion {
    padding: 40px 20px;
}

.titulo-seccion {
    font-size: 2rem;
    color: #ff4b78;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.contenedor-recetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 10px;
}

.tarjeta-receta {
    background: white;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: transform .3s ease, box-shadow .3s ease;
    position: relative;
}

.tarjeta-receta:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.imagen-container {
    position: relative;
}

.imagen-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.btn-favorito, .btn-play {
    position: absolute;
    top: 10px;
    background: white;
    border: none;
    font-size: 1.3rem;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.btn-favorito:hover, .btn-play:hover {
    background-color: #ffd2e1;
}

.btn-favorito {
    left: 10px;
}

.btn-play {
    right: 10px;
}

.tarjeta-receta h3 {
    font-size: 1.3rem;
    padding: 10px 15px;
    color: #222;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    font-size: 1rem;
}

.estrellas {
    color: #ffba00;
}

.chef {
    padding: 10px 15px 15px;
    font-style: italic;
    color: #777;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #ff88a9;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width: 600px) {
    .logo {
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
}



img {
    width: 200px;
}
video {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    align-content: center;
}